/* ==========================================================================
   Variables
   ========================================================================== */

@PoetGreen: #8dc63f;
@white: #ffffff;
@slate: #2f373a;
@gray: #b1b3b6;
@lightgray: #f6f6f6;

/* ==========================================================================
   Font Imports
   ========================================================================== */

@import "../fonts/opensans.less";
@import "../css/font-awesome.less";

/* ==========================================================================
   Sizing
   ========================================================================== */

body {
    font-family: "OpenSans";
    font-size: 16px;
}
body {
    @media only screen and (max-width: 480px) {
        font-size: 13px;
    }
}

/* ==========================================================================
   Animations
   ========================================================================== */

* {
    -webkit-transition: all 0.55s ease;
    -moz-transition: all 0.55s ease;
    -ms-transition: all 0.55s ease;
    -o-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

*:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

/* ==========================================================================
   Flexslider
   ========================================================================== */

@import "variables.less";
@import "resets.less";
@import "base.less";
//@import "theme.less";
@import "responsive.less";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 1.5em;
    line-height: 1.4em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1.25em;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    color: @white;
    background: @PoetGreen;
    font-weight: inherit;
    padding: .025em .3em .05em .3em;
}
a {
    color: @PoetGreen;
}
h1 {
    text-transform: uppercase;
    font-size: 2.5em;
}
p {
    font-weight: 300;
    line-height: 1.9em;
    font-size: 1.1em;
}
.image img {
    width: 100%;
}
blockquote {
    border-left: 5px solid @PoetGreen;
    background-color: @lightgray;
    padding: 1em;
    margin-left: -15px;
}
.btn {
    background-color: @PoetGreen;
    box-sizing: border-box;

    border-radius: 0;
    margin-right: 1.5rem;
    text-transform: uppercase;
    color: @white;
    
    margin-bottom: 1em;

    font-weight: 300;
    box-sizing: border-box;
    border: 2px@PoetGreen solid;
    &.white {
        background-color: transparent;
        border: 2px @white solid;
        text-transform: capitalize;
    }
    &.white:hover {
        background-color: @white;

    }
    &.white-outline {
        border-radius: 2px;
        border: 1px white solid;
        width: auto;
        margin-bottom: 1em;
        padding: 0.5em 0.75em;
        background-color: transparent;
        text-transform: none;
        &:hover {
            color: @PoetGreen;
            background-color: @white;
        }
    }
}
nav {
    &.navbar {
        background-color: transparent;
        background: transparent;
        border-width: 0;
        box-sizing: border-box;
        height: 60px;
    }
    img {
        width: 130px;
    }
    .white {
        position: absolute;
        top: 0.5em;
        opacity: 1;
    }
    .color {
        position: absolute;
        top: 0.5em;
        opacity: 0;
    }
    ul {
        float: right;
        margin: 0;
        padding: 0;
        li {
            display: table-cell;
            position: relative;
            padding-left: 2em;
            height: 100%;
            color: @white;
            font-weight: 300;
            .btn {
                margin-top: .75em;
                background-color: @PoetGreen;
                border-color: @PoetGreen;
                padding-left: 1.5em !important;
                padding-right: 1.5em !important;
            }
            a {
                color: @white;
                @media only screen and (max-width: 760px) {
                    color: @slate;
                }
            }
            a:hover {
                text-decoration: none;
                color: @PoetGreen;
            }
        }
        .active:before, li:hover:before {
            content : "";
            position: absolute;
            left    : 2em;
            bottom  : 0;
            height  : 1px;
            width   : 40px;
            border-bottom: 3px solid @PoetGreen;
        }
        li:last-of-type:hover:before {
            content : "";
            position: absolute;
            left    : 2em;
            bottom  : 0;
            height  : 1px;
            width   : 40px;
            border-bottom: 0px solid @PoetGreen;
        }
    }
    @media only screen and (max-width: 760px) {
        .btn {
        background-color: @PoetGreen !important;
        border-color: @PoetGreen !important;
        color: @white;
        }
        .btn:hover {
            color: @slate !important;
        }
    }
    *, button {
        border-color: transparent;
    }
    .navbar-toggle {
        border-color: transparent !important;
        margin-top: 0.5em !important;
    }
}
.navbar-inverse .navbar-collapse {
    border-color: transparent;
    @media only screen and (max-width: 760px) {
        background-color: @white;
    }

}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: @PoetGreen;
}
.scrollin {
    background: @white !important;
    li {
        a{
            color: @slate;
        }
    }
    .btn {
        background-color: @PoetGreen !important;
        border-color: @PoetGreen !important;
        color: @white;
    }
    .btn:hover {
        color: @slate;
    }
    .white {
        opacity: 0;
    }
    .color {
        opacity: 1;
        top: 0.15em;
    }
    .navbar-toggle {
        color: @slate;
        .icon-bar {
            background-color: @slate !important;
        }
    }
}

body {
    padding: 0;
}
.hero {
    overflow: hidden;
    position: relative;
    background: @slate;
    color: @white;

    min-height: 100vh;
    .bgimage {
        
         /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: absolute;
        top: 0;
        left: 0;
        @media only screen and (max-width: 760px) {
            left: -40%;
            width: 160%;
        }
        @media only screen and (max-width: 420px) {
            left: -80%;
            width: 200%;
        }
    }
    .container {
        padding-top: 13rem;
        @media only screen and (max-width: 420px) {
            padding-top: 3rem;
        }
    }
    .white:before {
        content: "\f01d";
        font-family: FontAwesome;
        margin-right: 0.8em;
    }
    .gradient {
        &.one {
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)));
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
            background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
            background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
        }
        &.two {
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
            background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
            background: -o-linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
            background: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
        }
        &.three {
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 8%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(8%, rgba(0, 0, 0, 0)));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 8%);
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 8%);
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 8%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 8%);
        }
        height:100%;
        position:absolute;
        top:0;
        right:0;
        width:100%;
    }
    .top {
        margin-bottom: 8em;
    }
    .client-banners {
        position: absolute;
        bottom: 1em;
        ul {
            text-align: center;
            li {
                display: inline-block;
                width: 15%;
                margin: 0 2%;
                img {
                    width: 100%;
                    filter: brightness(1) invert(1);
                    -webkit-filter: brightness(0) invert(1);
                    -moz-filter: brightness(0) invert(1);
                    -ms-filter: brightness(0) invert(1);
                    -o-filter: brightness(0) invert(1);
                }
            }
        }
    }
}

.heading {
    text-align: center;
    min-height: 0;
    height: auto;
    margin-bottom: 2em;
    
    border-bottom: 5px solid @PoetGreen;
    
//    background-color: @PoetGreen;
    
    .bgimage {
        opacity: 0.4; 
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        
        
        @media only screen and (max-width: 760px) {
            left: 0;
            width: 100%;
        }
        @media only screen and (max-width: 420px) {
            left: 0;
            width: 100%;
        }
    }
}

.bar {
    background-color: @slate;

    color: @white;

    text-align: center;
    font-weight: 100;
    padding-top: 2em;
    padding-bottom: 1em;
    border-top: 2px@white solid;
    strong {
        font-weight: inherit;
        color: @PoetGreen;

    }
}
.featureslider {
    min-height: 420px;
    position: relative;
    padding-top: 2em;
    padding-bottom: 5em;
    .flexslider-featureslider {
        li {
            padding-top: 1em;
            position: relative;
            min-height: 420px;
            overflow: hidden;
            img {
                width: 60%;
                display: block;
                text-align: center;
                position: relative;
                padding-top: 1.2em;
                padding-bottom: 1.5em;
                height: inherit;
                margin: 0 auto;
            }
            @media only screen and (min-width: 1066px) {
                img {
                    position: absolute;
                    left: 59%;
                    height: 97%;
                    top: 2em;
                    display: inline-block;
                    text-align: right;
                    width: inherit;
                }
            }
        }
    }
    .flexslider-controls {
        @media only screen and (max-width: 1065px) {
            margin-top: 0 !important;
        }
        div {
            //         position: relative;

        }
        //      position: absolute;
        bottom:0;
        .flex-control-nav {
            .btn.green {
                background: transparent;
                text-align: left;
                text-transform: capitalize;
                color: @PoetGreen;

padding: 0;
                margin: 0;
                border: 0;
                font-weight: 400;
                font-size: 1em;
            }
            img,
            img:hover {
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                /* Firefox 3.5+ */
                filter: gray;
                /* IE6-9 */
                -webkit-filter: grayscale(100%);
                /* Chrome 19+ & Safari 6+ */
            }
            .flex-active img,
            li:hover img,
            li:hover small {
                filter: none;
                /* IE6-9 */
                -webkit-filter: grayscale(0%);
                /* Chrome 19+ & Safari 6+ */
                color: @PoetGreen;

            }
            .flex-active small {
                color: @PoetGreen;

            }
            li {
                margin-top: 0em;
                width: 16.5%;
                min-width: 20px;
                min-height: 60px;
                display: table-cell;
                position: relative;
                margin-right: 7%;
                img {
                    display: block;
                    position: relative;
                    top: 0;
                    margin: 0 auto;
                    height: 52px;
                    margin-bottom: 1em;
                }
                small {
                    display: block;
                    position: relative;
                    text-align: center;
                    bottom: 0;
                    color: @gray;

                }
            }
        }
    }
}
.bar.col3 {
    padding-top: 4em;
    padding-bottom: 4em;
    .container {
        h2 {
            font-weight: 400;
            margin-bottom: 2em;
        }
        .col-md-4 {
            display: inline;
            padding: 0 7%;
        }
        img {
            height: 80px;
            width: auto;
            display: block;
            margin: 0 auto;
            margin-bottom: 1.25em;
        }
        .text {
            strong {
                margin-bottom: -0.25em;
                display: inline-block;
                font-weight: 400;
                color: @white;
                font-size: 1.25em;
                
            }
            p {
                font-weight: 100;
            }
        }
    }
}
#testimonials {
    padding-top: 0;
}
.video {
    padding-bottom: 0;
    iframe {
        width: 100% !important;
    }
}
.customers {
    text-align: center;
    p {
        strong {
            font-weight: 400;
            color: @PoetGreen;
        }
    }
}

.testimonials {
//    width: 90%;
//    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    .quote {
        position: relative;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        min-height: 4.5em;
        font-weight: 300;
        display: block;
        
        margin-top: 2em;
    }
    .quote:before, .quote:after {
            content: "“";
            color: #8dc63f;
            font-size: 3em;
            line-height: 1em;
            margin-top: -2em;
            position: relative;
            display: inline-block;
            top: 9px;
            left: -9px;
            transform: scaleX(1.5);
    }
    .quote:after {
            content: "”";
            left: 9px;
            top: 26px;
    }

    .testimonials-flex {
        li {
            position: relative;   
            padding-top: 2em;
            padding-bottom: 2em;
        }
        li:before {
            content : "";
            position: absolute;
            left    : 10%;
            top  : 0;
            height  : 1px;
            width   : 100%;
            border-bottom: 2px solid @gray;
        }
        li:after {
            content : "";
            position: absolute;
            left    : 10%;
            bottom  : 0;
            height  : 1px;
            width   : 100%;
            border-bottom: 2px solid @gray;
        }
    }
    .testimonial-controls {
        ol {
            margin: 0;
            padding: 0;
            width: 100%;
            display: block;
            li {
                padding: 0;
                margin: 0 2%;
                display: table-cell;
                position: relative;
                width: 25%;
                
                img {
                    margin-top: 4em;
                    margin-bottom: 1em;
                    width: 80%;
                    border-radius: 50%;
                    border: 2px solid @gray;
                    opacity: 0.65;
                }
                
                b {
                    font-weight: 400;
                    margin-bottom: 0.5em;
                    opacity: 0;
                }
                i {
                    font-weight: 100;
                    font-size: 0.8em;
                    opacity: 0;
                }
                
            }
            
            li:before, li:after {
                content : "";
                position: absolute;
                left    : 40%;
                top  : -2px;
                height  : 0px;
                width: 0px;
                border-left: 1.2em solid transparent;
	            border-right: 1.2em solid transparent;
                border-top: 1.2em solid @gray;
                opacity: 0;
                @media only screen and (max-width: 480px) {
                    left    : 35%;
                }
            }
            li:after {
                top  : -5px;
                border-top: 1.2em solid @white;
            }
            .flex-active:before, .flex-active:after  {
                opacity: 1;
            }
            
            .flex-active {
                img {
                    opacity: 1;
                    border: 2px solid @PoetGreen;
                }
                b, i {
                    opacity: 1;
                }
            }
        }
    }
    
}

.support {
    padding-top: 1.5em;
    padding-bottom: 1em;
    background-color: @lightgray;
    color: @gray;
    text-align: center;
    p {
        font-weight: 400;
    }
    .flex-direction-nav {
        display: none;
    }
    img {
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        
        -webkit-filter: brightness(0);
        filter: brightness(0);
        opacity: 0.4;
        
        &:hover {
        -webkit-filter: brightness(1);
        filter: brightness(1);
        opacity: 1;
        }
    }
    .flex-control-nav {
        display: inline-block;
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            margin: .5em;
            a {
                text-indent: -5000px;
                display: inline-block;
                background-color: @gray;
                width: .75em;
                height: .75em;
                border-radius: 50%;
                border: 2px solid @gray;
                &.flex-active {
                    background-color: transparent;
                    border: @gray 2px solid;
                }
            }
        }
    }
}
.trypoet {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    background-color: @PoetGreen;
    background-image: url(/img/hexPat.png);
    background-position: center center;
    color: @white;
    text-align: center;
    h2 {
        font-size: 2.25em;
        line-height: 1.25em;
        font-weight: 400;
        width: 80%;
        display: inline-block;
        margin-bottom: 1em;
    }
    form {
        margin-top: 1.75em;
        label, h3 {
            display: none;
        }
        input {
            font-size: .85em;
            background: transparent;
            border: none;
            border-bottom: 1px @white solid;
            border-radius: 2px;
            text-align: center;
            color: @white;
            width: 100%;
            padding: 0.5em;
            margin-bottom: 1rem;
        }
        input[type="submit"] {
            border: 1px white solid;
            width: auto;
            margin: 1em auto;
            padding: 0.5em 0.75em;
            &:hover {
                color: @PoetGreen;
                background-color: @white;
            }
        }
        ::-webkit-input-placeholder {
           color: @white;
        }

        :-moz-placeholder { /* Firefox 18- */
           color: @white;  
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: @white;  
        }

        :-ms-input-placeholder {  
           color: @white;  
        }
    }
}

.teamcard {
    box-sizing: border-box;
    color: @slate;
    border: 2px solid @white;
    img {
        width: 100%;
        margin-bottom: 1em;
    }
    p {
        line-height: 1.5em;
        strong {
            font-weight: 400;
        }
    }
    a {
        color: @PoetGreen;
        &:hover {
            text-decoration: none;
            color: @slate;
        }
    }
}
.teamcard:hover {
    border: 2px solid @PoetGreen; 
}

footer {
    padding-top: 2.5em;
    background-color: @slate;
    color: @white;
    box-sizing: border-box;
    a {
        color: @white;
        &:hover {
            color: @PoetGreen;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: 2.5em;
        li {
            display: block;
            text-align: center;
            p {
                margin-bottom: 0;
            }
        }
    }
    .social {
        float: right;
        display: inline-block;
        padding-top: 0.5em;
        a {
            margin-left: 1.4em;
            font-size: 1.25em;
            &:hover {
                text-decoration: none;
            }
        }
    }
    p.copyright {
        margin-top: 2em;
        color: @gray;
    }
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

video {
    max-width: 100%;
    background-color: @slate;
}

section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.edit-this {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 0.8em;
    background-color: @PoetGreen;
    color: @white;
    padding: .25em;
    border-radius: 5px;
    margin: .5em;
}