<section class="customers video">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 vid">
                <h2>Meet POET <strong>customers</strong></h2>
                <p>Our customers trust us to provide a simple and effective solution that sets them apart. Join our community of innovative retailers today
                    <br/>
                    <strong>Meet our POET customers</strong>
                </p>
                <div class="embedded-video">
                    {{ block.youtubeUrl | raw}}
                </div>
            </div>
        </div>
    </div>
</section>