{% spaceless %}

{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% include 'includes/head.html' %}

<body>
{% include 'includes/headNav.html' %}
	
	{% if currentUser %}
	   <a class="edit-this" href="{{ entry.cpEditUrl }}">Edit entry</a>
	{% endif %}
			
		{#
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>
		#}
			
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}

{% include 'includes/footer.html' %}

	<script src="/js/vendor/jquery-1.11.2.min.js"></script>

	<script src="/js/vendor/bootstrap.min.js"></script>

	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	{% block BlockJS %}
	{% endblock %}

</body>
</html>


{% endspaceless %}